<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteRule ^sw.js$ watermeasure/public/assets/sw/sw.php [L] # Redirects sw.js file to the php file
    RewriteRule ^(.+)/sw-controller.js$ watermeasure/public/assets/sw/sw-controller.php [L] # Redirects sw-controller.js to the php file
    RewriteRule ^(.+)-hsh([A-Za-z0-9]+).(.+)$ $1.$3 [L] # Redirects the hashed file to the unhashed file

</IfModule>